<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Eat The Burger!!<h1>
    </div>
  </div>

</section>

<div class="row">
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <h2 class="title">What kind of burger would you like?</h2>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <label for="foodTextEntry">Enter your order: </label>
            <input id="foodTextEntry" type="text" />
            <a href="#" class="button is-success" id="searchButton">
              <i class="Submit"></i>
            </a>
          </div>
        </footer>
        <div class="row">
          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <h2 class="title">Order Items: </h2>
                </div>
                  <div class="card-footer-item">

                  </div>
              </div>
            </div>
          </div>
        </div>






        <input type="text" id="input">